<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Suez+One">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
</head>

<body id="page-top" style="background: #f6f7fb;width: 100%;">
    {{!-- LOGO AND SIDEMISSIONS --}}
    <div class="container d-inline" style="margin: -2px;margin-top: 0px;width: 50%;margin-left: 5rem;padding: 0px;">
        <a href="/"><img src="../assets/img/logo.png"  style="height: 70px;margin: 3px;width: 75px;"></a>
        <a class="navbar-brand text-capitalize d-inline" id="sidemissions" href="/" style="color: #1c1259;margin: 0rem 0.5rem;font-size: 2rem;font-family: 'Poppins', serif;padding-top: 8px;font-weight: normal;font-style: normal;">SideMissions</a>
    </div>

    {{!-- NAV BAR WITH CATEGORIES --}}
        <nav class="navbar navbar-light navbar-expand-md d-xl-flex" style="background-color: #1c1259;width: 97%;height: 10%;margin-left: 1%;margin-right: 1%;border-radius: 10px;padding: 0;padding-top: 5px;padding-bottom: 5px;">
            <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse text-right d-inline d-lg-flex justify-content-lg-end justify-content-xl-center"
                    id="navcol-1" style="border-radius: 20px;">
                    <ul class="nav navbar-nav d-flex">
                         <li class="nav-item" role="presentation" data-bs-hover-animate="pulse" style="margin-right: 3rem;margin-left: 3rem;"><a class="nav-link active" href="/categorysearch/Design" style="color: #f6f7fb;margin: -1px;font-family: Poppins, sans-serif;">Design</a></li>
                            <li class="nav-item" role="presentation" style="margin-right: 3rem;margin-left: 3rem;"><a class="nav-link" data-bs-hover-animate="pulse" href="/categorysearch/Photography" style="color: #f6f7fb;font-family: Poppins, sans-serif;margin: 0;">Photography</a></li>
                            <li class="nav-item" role="presentation" style="margin-right: 3rem;margin-left: 2rem;"><a class="nav-link" data-bs-hover-animate="pulse" href="/categorysearch/Video" style="color: #f6f7fb;font-family: Poppins, sans-serif;">Video</a></li>
                            <li class="nav-item" role="presentation" style="margin-right: 3rem;margin-left: 3rem;"><a class="nav-link" data-bs-hover-animate="pulse" href="/categorysearch/Typing" style="color: #f6f7fb;font-family: Poppins, sans-serif;">Typing</a></li>
                            <li class="nav-item" role="presentation" style="margin-right: 3rem;margin-left: 3rem;"><a class="nav-link" data-bs-hover-animate="pulse" href="/categorysearch/Tutor" style="color: #f6f7fb;font-family: Poppins, sans-serif;">Tutor</a></li>
                            <li class="nav-item" role="presentation" style="margin-right: 3rem;margin-left: 3rem;"><a class="nav-link" data-bs-hover-animate="pulse" href="/categorysearch/Audio" style="color: #f6f7fb;font-family: Poppins, sans-serif;">Audio</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {{!-- JUMBOTRON --}}
        <div class="jumbotron" style="margin-top: 2rem;height: 475px;padding-left: 10rem;padding-bottom: 72px;padding-right: 10rem;background: url(&quot;assets/img/bg1.jpg&quot;) top / cover no-repeat;">
            <h1 class="text-left" style="color: #1c1259;font-size: 60px;font-family: Poppins, sans-serif;font-weight: bold;margin-bottom: 26px;margin-top: 40px;">Hello, Rookie</h1>
            <p style="color: #1c1259;font-family: Poppins, sans-serif;width: 585px;">SideMissions is dedicated to help you in looking for part-time jobs to help explore and discover your talents further, earn that extra cash, or look for that assistant you needed.<br></p>
            <div class="row">
                <div class="col" style="margin-top: 2rem;padding-left: 0;margin-left: 1rem;">
                <form method="get" action="/register"><button class="btn d-inline" id="navbutton" type="submit" style="width: 165px;margin-left: 0;border-style: none;border-radius: 5px;height: 40px;margin-right: 2rem;">Sign Up</button></form>
                <form method="get" action="/login"><button class="btn d-inline loginbutton" type="submit" style="width: 165px;border-style: none;border-radius: 5px;height: 40px;margin-left: 0;">Log In</button></form>
                </div>
            </div>
        </div>

        {{!-- ROW FOR BUTTONS BELOW CARDS --}}
        <div class="row" style="padding-right: 5rem;padding-left: 5rem;">
            <div class="col-4">
                <div class="card" style="width: 100%;border-style: none;background: rgba(255,255,255,0.3);">
                    <div class="card-body" style="border-radius: 10px;border-style: none;"><img class="navicon" src="assets/img/sticky-notes.png" style="width: 70px;height: 70px;">
                        <h4 class="text-center card-title">Post a Mission</h4>
                        <p class="card-text navdesc">Post a mission in the mission board if you&nbsp; are currently hiring or looking for someone to commission.<br></p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card" style="width: 100%;border-style: none;background: rgba(255,255,255,0.3);">
                    <div class="card-body" style="border-radius: 10px;border-style: none;"><img class="navicon" src="assets/img/bulletin-board.png" style="width: 70px;height: 70px;">
                        <h4 class="text-center card-title">View Profile</h4>
                        <p class="card-text navdesc">View your current account once you have logged in. Agents can edit their account information such as description, linked accounts, and skills.<br></p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card" style="width: 100%;border-style: none;background: rgba(255,255,255,0.3);">
                    <div class="card-body" style="border-radius: 10px;border-style: none;"><img class="navicon" src="assets/img/user.png" style="width: 70px;height: 70px;">
                        <h4 class="text-center card-title">Mission Log</h4>
                        <p class="card-text navdesc">Agents can keep track of their mission progress by checking the mission log. The log contains active, ongoing, and finished missions.<br></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-xl-flex justify-content-xl-center" style="margin-top: 2rem;">
            <div class="col-3" style="margin-right: 5rem;">
                <form class="d-xl-flex justify-content-xl-center" method="get" action="/login"><button class="btn" id="navbutton" type="submit">Go</button></form>
            </div>
            <div class="col-3">
                <form class="d-xl-flex justify-content-xl-center" method="get" action="/login"><button class="btn" id="navbutton" type="submit">Go</button></form>
            </div>
            <div class="col-3" style="margin-left: 5rem;">
                <form class="d-xl-flex justify-content-xl-center" method="get" action="/login"><button class="btn" id="navbutton" type="submit">Go</button></form>
            </div>
        </div>

        {{!-- FOOTER --}}
        <div id="footer" class="footer-dark" style="width: 100%;margin-top: 4rem;background-color: #0d0733;height: 75px;padding: 25px;">
            <footer style="color: #B9C0DF;">
                <div class="container">
                    <p class="copyright" style="color: #F6F7FB;font-size: 16px;padding-top: 0;opacity: 0.68;">SideMissions © 2020</p>
                </div>
            </footer>
        </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/bs-init.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
</body>

</html>