<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>sidemission</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Suez+One">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/sidemissions.css">
</head>

<body>
    {{!-- LOGO AND SIDEMISSIONS --}}
    <div class="container d-inline" style="margin: -2px;margin-top: 0px;width: 50%;margin-left: 5rem;padding: 0px;">
        <a href="/"><img src="../assets/img/logo.png"  style="height: 70px;margin: 3px;width: 75px;"></a>
        <a class="navbar-brand text-capitalize d-inline" id="sidemissions" href="/" style="color: #1c1259;margin: 0rem 0.5rem;font-size: 2rem;font-family: 'Poppins', serif;padding-top: 8px;font-weight: normal;font-style: normal;">SideMissions</a>
    </div>

    {{!-- LOGIN AND SIGNUP BUTTON --}}
    <div class="collapse navbar-collapse text-right d-inline float-right d-lg-flex justify-content-lg-end justify-content-xl-end" id="navcol-2" style="border-radius: 20px;width: 50%;margin-top: 1.5rem;margin-right: 0rem;">
        <ul class="nav nav-tabs" style="border-style: none;margin-right: 2rem;">
            <li class="nav-item" data-bs-hover-animate="pulse"></li>
            <li class="nav-item" style="border-style: none;"><a class="nav-link" data-bs-hover-animate="pulse" href="/login" style="color: #1c1259;border-style: none;font-family: Poppins, sans-serif;">LOGIN</a></li>
            <li class="nav-item" style="border-style: none;color: #F6F7FB;background-color: #EE4266;border-radius: 10px;"><a class="nav-link" data-bs-hover-animate="pulse" href="/register" style="color: #F6F7FB;border-style: none;border-radius: 0;font-family: Poppins, sans-serif;">SIGNUP</a></li>
        </ul>
    </div>

        {{!-- NAV BAR WITH CATEGORIES --}}
        <nav class="navbar navbar-light navbar-expand-md d-xl-flex" style="background-color: #1c1259;width: 97%;height: 10%;margin-left: 1%;margin-right: 1%;border-radius: 10px;padding: 0;padding-top: 5px;padding-bottom: 5px;">
            <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse text-right d-inline d-lg-flex justify-content-lg-end justify-content-xl-center"
                    id="navcol-1" style="border-radius: 20px;">
                    <ul class="nav navbar-nav d-flex">
                        <li class="nav-item" role="presentation" data-bs-hover-animate="pulse" style="margin-right: 3rem;margin-left: 3rem;"><a class="nav-link active" href="login" style="color: #f6f7fb;margin: -1px;font-family: Poppins, sans-serif;">Design</a></li>
                    <li class="nav-item" role="presentation" style="margin-right: 3rem;margin-left: 3rem;"><a class="nav-link" data-bs-hover-animate="pulse" href="login" style="color: #f6f7fb;font-family: Poppins, sans-serif;margin: 0;">Photography</a></li>
                    <li class="nav-item" role="presentation" style="margin-right: 3rem;margin-left: 2rem;"><a class="nav-link" data-bs-hover-animate="pulse" href="login" style="color: #f6f7fb;font-family: Poppins, sans-serif;">Video</a></li>
                    <li class="nav-item" role="presentation" style="margin-right: 3rem;margin-left: 3rem;"><a class="nav-link" data-bs-hover-animate="pulse" href="login" style="color: #f6f7fb;font-family: Poppins, sans-serif;">Typing</a></li>
                    <li class="nav-item" role="presentation" style="margin-right: 3rem;margin-left: 3rem;"><a class="nav-link" data-bs-hover-animate="pulse" href="login" style="color: #f6f7fb;font-family: Poppins, sans-serif;">Tutor</a></li>
                    <li class="nav-item" role="presentation" style="margin-right: 3rem;margin-left: 3rem;"><a class="nav-link" data-bs-hover-animate="pulse" href="login" style="color: #f6f7fb;font-family: Poppins, sans-serif;">Audio</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="register-photo" style="background-color: #F6F7FB;">
            <div class="form-container">
                <form method="post">
                    <h2 class="text-center" style="color: #EE4266;font-family: Poppins, sans-serif;font-weight: bold;">Create your ID, Rookie.</h2>
                    <div class="regerror">{{emailerror}}</div>
                    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" required></div>
                    <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" required></div>
                    <div class="form-group"><input class="form-control" type="text" name="firstName" placeholder="First Name" required></div>
                    <div class="form-group"><input class="form-control" type="text" name="lastName" placeholder="Last Name" required></div>
                    <div class="form-group"><input class="form-control" type="number" name="contactNum" placeholder="Contact Number" required></div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign Up</button></div><a class="login" href="/login" style="margin-left: 262px;">Already have an account? Login here.</a></form>
            </div>
        </div>

        {{!-- FOOTER --}}
        <div id="footer" class="footer-dark" style="width: 100%;margin-top: 4rem;background-color: #0d0733;height: 75px;padding: 25px;">
            <footer style="color: #B9C0DF;">
                <div class="container">
                    <p class="copyright" style="color: #F6F7FB;font-size: 16px;padding-top: 0;opacity: 0.68;">SideMissions © 2020</p>
                </div>
            </footer>
        </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/bs-init.js"></script>
</body>

</html>