.jobDesc {
    border-color: rgb(169,171,173);
    margin-top: 1rem;
    margin-bottom:1rem;
}

#divider {
    height: 0.5px;
    background-color: rgba(33,37,41,0.2);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.logerror {
    font-size: 1em;
    color: #0d0733;
    background-color: #F6A2B4;
    border-left: 3px solid red;
    margin-bottom: 2rem;
    padding-left: 1rem;
}

.regerror {
    width: 40%;
    font-size: 1em;
    color: #0d0733;
    background-color: #F6A2B4;
    border-left: 3px solid red;
    margin-bottom: 2rem;
    padding-left: 1rem;
}

.nav-link {
    color: #F6F7FB;
}

.loginbutton {
    background-color: #EE4266;
    color: #F6F7FB;
    border-radius: 10px;
}

.searchbar {
    width: 310px;
    border-width: 1px;
    border-color: rgba(0,0,0,0.12);
    height: 40px;
    padding: 10px;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 8px;
  }

.jobcontainer {
    height: 100%;
    max-height: auto;
    min-height: 500px;
    width: 100%;
    padding: 0px;
    padding-right: 0;
    margin-top: 3rem;
    margin-right: 0;
    margin-left: 13rem;
}

.card-body {
    padding: 35px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px rgb(232,232,234);
    width: 100%;
}

.job-card-body {
    padding: 35px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px rgb(232,232,234);
    width: 100%;
}

.card-title {
    font-family: Poppins, sans-serif;
    text-align: center;
}

.card-text {
    margin-left: 5px;
    margin-bottom: 5px;
}

.applybtn {
    width: 190px;
    margin-left: 6rem;
    margin-top: 2rem;
    background-color: #eb3b60;
    border-style: none;
}

#button:hover {
    border-radius: 10px;
    color: #1c1259;
    background-color: #FFD28C;
}

#footer {
    position: static;
    bottom: 0px;
    margin-top: 4rem;
}