html body {
  height: 100%;
  width: 100%;
}

.navicon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

form {
  display: inline;
}

.jumbotron {
  margin-top: 2rem;
  height: 475px;
  padding-left: 8rem;
  padding-bottom: 72px;
  padding-right: 10rem;
  background: url("/assets/img/bg1.jpg") top / cover no-repeat;
}

.navbuttonform {
  position: static;
  bottom: 5px;
}

#navbutton {
  background-color: #ee4266;
  color: #F6F7FB;
  display: block;
  width: 97px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-style: none;
  font-family: Poppins, sans-serif;
  font-weight: normal;
}

.searchbar {
  width: 310px;
  border-width: 1px;
  border-color: rgba(0,0,0,0.12);
  height: 40px;
  padding: 10px;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 8px;
}

.searchbtn {
  height: 42px;
  background: #ee4266;
  color: #F6F7FB;
  border-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: Poppins, sans-serif;
  font-weight: normal;
}
.searchbtn:hover {
    background-color: #FFD28C;
    color: #1C1259;
}

.loginbutton {
  display: inline;
  background-color: #FF9800;
}

.loginbutton:hover {
  background-color: #FFD28C;
  color: #1c1259;
}

#navbutton:hover {
  background-color: #FFD28C;
  color: #1C1259;
}

.navdesc {
  text-align: center;
  width: 20rem;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 45px;
  margin-right: 9px;
}

#footer {
  position: static;
  bottom: 0px;
  margin-top: 4rem;
}

