html body {
  height: 100%;
  width: 100%;
}

.navicon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.gobtn {
  display: inline;
}

.jumbotron {
  margin-top: 2rem;
  height: 475px;
  padding-left: 8rem;
  padding-bottom: 72px;
  padding-right: 10rem;
  background: url("/assets/img/bg1.jpg") top / cover no-repeat;
}

.searchform{
  display: block;
  width:100%;
}

.navbuttonform {
  position: static;
  bottom: 5px;
}

#navbutton {
  background-color: #ee4266;
  color: #F6F7FB;
  display: block;
  width: 97px;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-style: none;
  font-family: Poppins, sans-serif;
  font-weight: normal;
}

.signoutbtn {
  color: #1C1259;
  background: #FF9800;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  border-style: none;
  margin-top: -3px;
  padding-right: 16px
  ;padding-left: 16px;
}

.signoutbtn:hover {
  color: #1c1259;
  background-color: #FFD28C;
}

.searchbar {
  width: 310px;
  border-width: 1px;
  border-color: rgba(0,0,0,0.12);
  height: 40px;
  padding: 10px;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 8px;
}

.searchbtn {
  height: 47px;
  border-radius: 50%;
  background: #ee4266;
  border-style: none;
  font-family: Poppins, sans-serif;
  font-weight: normal;
  color: #F6F7FB;
  width: 47px;
  margin-left: 2rem;
}

.searchbtn:hover {
    background-color: #FFD28C;
    color: #1C1259;
}

.categorylbl {
  display: inline;
  background: #f6f7fb;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.category {
  display: inline;
  background: #f6f7fb;
  height: 74px;
  width:284px;
  margin-bottom: 0;
  margin-right: 1rem;
  margin-left: 1rem;
  border-right-style: none;
  border-left-style: none;
}

.loginbutton {
  display: inline;
  background-color: #FF9800;
}

.loginbutton:hover {
  background-color: #FFD28C;
  color: #1c1259;
}

#navbutton:hover {
  background-color: #FFD28C;
  color: #1C1259;
}

.navdesc {
  text-align: center;
  width: 20rem;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 45px;
  margin-right: 9px;
}

.post {
  position: fixed; 
  bottom: 30px; 
  right: 40px;
  z-index: 99; 
  background-color: #EE4266; 
  color: #F6F7FB;
  padding: 15px; 
  border: none;
  border-radius: 30px; 
  font-size: 16px; 
  font-family: Poppins, sans-serif;
}

.post:hover {
  background-color: #FFD28C;
  color: #1C1259;
}

.greeting {
  color: #1c1259;
  font-size: 60px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  margin-bottom: 26px;
  margin-top: 40px;
  text-align: center;
}

.dropdown {
  display: inline;
  background-color: #F6F7FB;
  color: #1c1259;
  width: 146px;
  height: 2.5rem;
  padding: 6px;
  border: solid 0px rgba(0,0,0,0.11);
}

.search {
  display: block;
  padding-top: 0px;
  margin-top: 3rem;
  margin-bottom: 5rem;
  margin-left: auto;
}

.searchbar {
  width: 270px;
  height: 42px;
  padding-top: -3px;
  border: 1px solid rgba(0,0,0,0.26);
  padding-bottom: 5px;
}

.searchbg {
  height: 74px;
  background-color: #F6F7FB;
  border-radius: 31px;
  padding-top: 0px;
}

#footer {
  position: static;
  bottom: 0px;
  margin-top: 4rem;
}