body {
    width: 100%;
    height: 100%;
    min-height: 750px;
    margin-top: 0.5em;
    background-color: rgb(246,247,251);
  }
  
  #sidemissions {
    font-weight: 400;
    color: #1c1259;
    font-size: 2rem;
    font-family: 'Poppins', serif;
    padding-top: 50px;
  }

.searchbar {
    width: 310px;
    border-width: 1px;
    border-color: rgba(0,0,0,0.12);
    height: 40px;
    padding: 10px;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 8px;
  }

.signoutbtn {
    color: #1C1259;
    background: #FF9800;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    border-style: none;
    margin-top: -3px;
    padding-right: 16px
    ;padding-left: 16px;
}

.signoutbtn:hover {
    color: #1c1259;
    background-color: #FFD28C;
}

.desc-div {
  max-height:150px;
  margin-top: 2rem;
  width: 85%;
  overflow:hidden
}

#jobDesc {
  color: #62646A;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 10px;
  margin-left: 0.5rem;
}

.jobTitle {
  margin-bottom: 11px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: #1c1259;
}

.jobCreator {
  margin-top: 0px;
  margin-bottom: 0;
  font-family: Poppins, sans-serif;
}

.jobDetails {
  margin-left: 1rem;
  font-family: Poppins, sans-serif;
  font-size: 14px;
}

.post {
    position: fixed; 
    bottom: 30px; 
    right: 40px;
    z-index: 99; 
    background-color: #EE4266; 
    color: #F6F7FB;
    padding: 15px; 
    border: none;
    border-radius: 30px; 
    font-size: 16px; 
    font-family: Poppins, sans-serif;
  }
  
.post:hover {
    background-color: #FFD28C;
    color: #1C1259;
}

#footer {
    position: static;
    bottom: 0px;
    margin-top: 4rem;
}