.logerror {
    font-size: 1em;
    color: #0d0733;
    background-color: #F6A2B4;
    border-left: 3px solid red;
    margin-bottom: 2rem;
    padding-left: 1rem;
}

.regerror {
    width: 40%;
    font-size: 1em;
    color: #0d0733;
    background-color: #F6A2B4;
    border-left: 3px solid red;
    margin-bottom: 2rem;
}

.regerror span {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nav-link {
    color: #F6F7FB;
}

.loginbutton {
    background-color: #EE4266;
    color: #F6F7FB;
    border-radius: 10px;
}

#button:hover {
    border-radius: 10px;
    color: #1c1259;
    background-color: #FFD28C;
}

#footer {
    position: static;
    bottom: 0px;
    margin-top: 4rem;
  }